<div ng-controller="ctrlHome" style="!important" >
    <loginheader title="Complain Registration" show-menu="true" show-job-menu="false"></loginheader>
    <div class="container-fluid" ng-init="fnGetTickets()">
       <div class = "row container-fluid">
       	<div class = "col-xs-5 panel">
       		<table class = "table">
       			<tr class = "row">
       				<td class = "col-xs-5"><span class = "stafflist-male-icon"></span></td>
       				<td class = "col-xs-7"><span class = "center-block">{{user.name}}</span></td>
       			</tr>
       			<tr>
       				<table class = "table-striped">
       					<tr ng-repeat="notification in notifications">
       						 <a class="content" href="#">
      
       <div class="notification-item">
        <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
        <p class="item-info">Marketing 101, Video Assignment</p>
      </div>
       
    </a>

       					</tr>

       				</table>
       			</tr>
       		</table>
       	</div>
       	<div class = "col-xs-7">
       		<div class="panel-primary">
       		<div class="panel-heading">Tickets Issued</div>
       		<table class = "table table-striped panel-body">
       			<tr ng-repeat="ticket in ticketList" ng-click="fnEditComplain(ticket)">

       				<td><span class = "iconSet iconAlert"></span></td>
       				<td><span>{{ticket.status}}</span></td>
       				<td><span>{{ticket.note}}</span></td>
       				<td><span>{{convertDate(ticket.updated_at)}}</span></td>
       			</tr>
       		</table>
       	</div>
       </div>
       </div>
    </div>
    <footer class="footerNav">
        <nav>
            <div class="col-xs-12 col-md-12 pull-left btn" ng-click="fnNewComplain()">New Complaint</div>
        </nav>
    </footer>
</div>