<div class="container-fluid">
    <div class="row bsb-topbar hidden-xs">
   
        <div class="col-xs-5"><h3>Complain Registration System</h3></div>
        <div class="col-xs-2 col-xs-offset-2 text-right">
            <div class="bsb-userinfo" ng-show="showMenu || showJobMenu || showMenu === 'DM' || showMenu === 'CSO'">
                <a ng-click="fnLogout()">Sign out</a>
            </div>
        </div>
    </div>
</div>
 <nav class="navbar navbar-default" role="navigation"> 
    <div class="container-fluid">
        <div class="bsb-navbar-center visible-xs">
            <a class="navbar-brand" style="padding-top: 7px !important">Complaint Registration System</a>
        </div>
    </div>
</nav> 
